.container-login{
    padding-top: 100px;
}

.form{
    max-width: 600px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.btn{
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    color: white;
    border:none;
    padding: 15px;
    border-radius: 4px;
    background-color:#3366FF;
}

@media (max-width:560px) {
    .container-login{
        padding-top: 0;
    }
    .form{
        background-color: aquamarine;
        width: 100vw;
    } 
    .title{
        margin: 0;
      
    }
}