.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.title{
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.438);
}

.postagem{
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}
.post-area{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 13px 2px 26px -10px rgba(0,0,0,0.75);
}
.text-post{
    font-size: 18px;
    line-height: 26px;
}
.autor-post{
    font-weight: bold;
    font-style: italic;
}
.btn-home {
    align-self: flex-end;
    margin: 10px;
    max-width: 200px;  
}
.btn{
    box-shadow: 13px 2px 26px -10px rgba(0,0,0,0.75);
}

@media (max-width:560px) {
    .postagem{
        width: 100%;
    }
    .btn-home{
        width: 50px;
    }

}