.text{
    margin: 20px;
}

.msg{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 20px;
    resize: none;
    box-shadow: 13px 2px 26px -10px rgba(0,0,0,0.75);
}

.preview{
    max-width: 600px;
    width: 100%;
    
}

.post-area{
    box-shadow: 13px 2px 26px -10px rgba(0,0,0,0.75);
}